.container {
  .container_cortions {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    .subtitle {
      color: #80b240;
      font-size: 1.1rem;
      background-color: rgba(128, 178, 64, 0.5);
      padding: 0.5rem 1rem;
      border-radius: 5px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .title {
      margin: 1.5rem 0rem 5rem 0rem;
      font-size: 3em;
      color: #012e19;
    }
    .food_carousel {
      margin: 20px;
      .carousel {
        max-width: 600px;
        margin: 0 auto;
      }
      .food_item {
        text-align: center;
        img {
          max-width: 100%;
          height: auto;
        }
        p {
          margin-top: 10px;
          font-weight: bold;
        }
      }
    }
  }
}
