.container {
  max-width: 1380px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  .subtitle {
    color: #80b240;
    font-size: 1.1rem;
    background-color: rgba(128, 178, 64, 0.5);
    padding: 0.3rem 1rem;
    display: inline-block;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .title {
    margin: 1.5rem 0rem 7rem 0rem;
    font-size: 3em;
    color: #012e19;
  }
  .price_container {
    margin-bottom: 9rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    text-align: left;
    .fishing {
      width: 45%;
      height: 607px;
      background-color: #81b24046;
      margin: 0 0rem 0 2rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      .box_title {
        h2 {
          padding: 1.6rem 0rem 0.4rem 1.5rem;
          font-size: 1.5rem;
        }
        p {
          padding: 0rem 0rem 0.8rem 1.5rem;
        }
      }
      .box_price {
        padding: 0rem 1.5rem 1rem 1.5rem;
        .text_price {
          text-align: center;
          padding: 0rem 0 0.8rem 0;
          font-size: 1.2rem;
          span {
            font-size: 2.5rem;
            color: #80b240;
          }
        }
        .text_fees {
          text-align: center;
        }
        a {
          .btn {
            font-family: 'Poppins', sans-serif;
            font-size: 1.1rem;
            padding: 1rem;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            width: 100%;
            background-color: #80b240;
            border: none;
            outline: none;
            cursor: pointer;
            color: #fff;
            border: 2px solid #80b240;
            transition:
              all 0.5s ease,
              all 0.5s ease;
            &:hover {
              color: #80b240;
              background-color: #fff;
              border-color: #80b240;
            }
          }
        }
        .text_performance {
          font-family: 'Poppins', sans-serif;
          padding: 0.5rem 0 3rem 0rem;
          text-align: center;
          border-bottom: 1px solid #80b240;
        }
      }
      .box_fantasies {
        padding: 1rem 1.5rem 1rem 1.5rem;
        .icon {
          padding-right: 0.5rem;
          font-size: 2rem;
          color: #80b240;
        }
        p {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
      }
    }
    .shed {
      width: 45%;
      height: 607px;
      background-color: #81b24046;
      margin: 0 1.8rem 0 0;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      .box_title {
        h2 {
          padding: 1.6rem 0rem 0.4rem 1.5rem;
          font-size: 1.5rem;
        }
        p {
          padding: 0rem 0rem 0.8rem 1.5rem;
        }
      }
      .box_price {
        padding: 0rem 1.5rem 1rem 1.5rem;
        .text_price {
          text-align: center;
          padding: 0rem 0 0.8rem 0;
          font-size: 1.2rem;
          span {
            font-size: 2.5rem;
            color: #80b240;
          }
        }
        .text_fees {
          text-align: center;
        }
        .btn {
          font-family: 'Poppins', sans-serif;
          font-size: 1.1rem;
          padding: 1rem;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          width: 100%;
          background-color: #80b240;
          border: none;
          outline: none;
          cursor: pointer;
          color: #fff;
          border: 2px solid #80b240;
          transition:
            all 0.5s ease,
            all 0.5s ease;
          &:hover {
            color: #80b240;
            background-color: #fff;
            border-color: #80b240;
          }
        }
        .text_performance {
          font-family: 'Poppins', sans-serif;
          padding: 0.5rem 0 3rem 0rem;
          text-align: center;
          border-bottom: 1px solid #80b240;
        }
      }
      .box_fantasies {
        padding: 1rem 1.5rem 1rem 1.5rem;
        .icon {
          padding-right: 0.5rem;
          font-size: 2rem;
          color: #80b240;
        }
        p {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
      }
    }
  }
}

/**
* ! Responsive
*/

@media (max-width: 767px) {
  .subtitle {
    color: #80b240;
    font-size: 1rem !important;
    background-color: rgba(128, 178, 64, 0.5);
    padding: 0.3rem 1rem;
    display: inline-block;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .title {
    margin: 1.5rem 0rem 2.5rem 0rem;
    font-size: 2.4rem !important;
    color: #012e19;
  }
  .price_container {
    margin-bottom: 9rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    text-align: center;
    .fishing {
     width: 90%!important;
      height: auto!important;
      background-color: #81b24046;
      margin: 0 0rem 0rem 1rem!important;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      .box_title {
        h2 {
          padding: 1.6rem 0rem 0.4rem 1.5rem;
          font-size: 1.5rem;
        }
        p {
          padding: 0rem 0rem 0.8rem 1.5rem;
        }
      }
      .box_price {
        padding: 0rem 1.5rem 1rem 1.5rem;
        .text_price {
          text-align: center;
          padding: 0rem 0 0.8rem 0;
          font-size: 1.2rem;
          span {
            font-size: 2.5rem;
            color: #80b240;
          }
        }
        .text_fees {
          text-align: center;
        }
        .btn {
          font-family: 'Poppins', sans-serif;
          font-size: 1.1rem;
          padding: 1rem;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          width: 100%;
          background-color: #80b240;
          border: none;
          outline: none;
          cursor: pointer;
          color: #fff;
          border: 2px solid #80b240;
          transition:
            all 0.5s ease,
            all 0.5s ease;
          &:hover {
            color: #80b240;
            background-color: #fff;
            border-color: #80b240;
          }
        }
        .text_performance {
          font-family: 'Poppins', sans-serif;
          padding: 0.5rem 0 3rem 0rem;
          text-align: center;
          border-bottom: 1px solid #80b240;
        }
      }
      .box_fantasies {
        padding: 1rem 1.5rem 1rem 1.5rem;
        .icon {
          padding-right: 0.5rem;
          font-size: 2rem;
          color: #80b240;
        }
        p {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
      }
    }
    .shed {
     width: 90%!important;
      height: auto!important;
      background-color: #81b24046;
      margin: 0 0rem 5rem 1rem!important;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      .box_title {
        h2 {
          padding: 1.6rem 0rem 0.4rem 1.5rem;
          font-size: 1.5rem;
        }
        p {
          padding: 0rem 0rem 0.8rem 1.5rem;
        }
      }
      .box_price {
        padding: 0rem 1.5rem 1rem 1.5rem;
        .text_price {
          text-align: center;
          padding: 0rem 0 0.8rem 0;
          font-size: 1.2rem;
          span {
            font-size: 2.5rem;
            color: #80b240;
          }
        }
        .text_fees {
          text-align: center;
        }
        .btn {
          font-family: 'Poppins', sans-serif;
          font-size: 1.1rem;
          padding: 1rem;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          width: 100%;
          background-color: #80b240;
          border: none;
          outline: none;
          cursor: pointer;
          color: #fff;
          border: 2px solid #80b240;
          transition:
            all 0.5s ease,
            all 0.5s ease;
          &:hover {
            color: #80b240;
            background-color: #fff;
            border-color: #80b240;
          }
        }
        .text_performance {
          font-family: 'Poppins', sans-serif;
          padding: 0.5rem 0 3rem 0rem;
          text-align: center;
          border-bottom: 1px solid #80b240;
        }
      }
      .box_fantasies {
        padding: 1rem 1.5rem 1rem 1.5rem;
        .icon {
          padding-right: 0.5rem;
          font-size: 2rem;
          color: #80b240;
        }
        p {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
      }
    }
  }
}

/**
* ! Responsive
*/

@media (min-width: 767px) and (max-width: 1284px) {
  .subtitle {
    color: #80b240;
    font-size: 1rem !important;
    background-color: rgba(128, 178, 64, 0.5);
    padding: 0.3rem 1rem;
    display: inline-block;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .title {
    margin: 1.5rem 0rem 2.5rem 0rem;
    font-size: 2.4rem !important;
    color: #012e19;
  }
  .price_container {
    margin-bottom: 9rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    text-align: center;
    .fishing {
     width: 90%!important;
      height: auto!important;
      background-color: #81b24046;
      margin: 0 0rem 0rem 1rem!important;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      .box_title {
        h2 {
          padding: 1.6rem 0rem 0.4rem 1.5rem;
          font-size: 1.5rem;
        }
        p {
          padding: 0rem 0rem 0.8rem 1.5rem;
        }
      }
      .box_price {
        padding: 0rem 1.5rem 1rem 1.5rem;
        .text_price {
          text-align: center;
          padding: 0rem 0 0.8rem 0;
          font-size: 1.2rem;
          span {
            font-size: 2.5rem;
            color: #80b240;
          }
        }
        .text_fees {
          text-align: center;
        }
        .btn {
          font-family: 'Poppins', sans-serif;
          font-size: 1.1rem;
          padding: 1rem;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          width: 100%;
          background-color: #80b240;
          border: none;
          outline: none;
          cursor: pointer;
          color: #fff;
          border: 2px solid #80b240;
          transition:
            all 0.5s ease,
            all 0.5s ease;
          &:hover {
            color: #80b240;
            background-color: #fff;
            border-color: #80b240;
          }
        }
        .text_performance {
          font-family: 'Poppins', sans-serif;
          padding: 0.5rem 0 3rem 0rem;
          text-align: center;
          border-bottom: 1px solid #80b240;
        }
      }
      .box_fantasies {
        padding: 1rem 1.5rem 1rem 1.5rem;
        .icon {
          padding-right: 0.5rem;
          font-size: 2rem;
          color: #80b240;
        }
        p {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
      }
    }
    .shed {
     width: 90%!important;
      height: auto!important;
      background-color: #81b24046;
      margin: 0 0rem 5rem 1rem!important;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      .box_title {
        h2 {
          padding: 1.6rem 0rem 0.4rem 1.5rem;
          font-size: 1.5rem;
        }
        p {
          padding: 0rem 0rem 0.8rem 1.5rem;
        }
      }
      .box_price {
        padding: 0rem 1.5rem 1rem 1.5rem;
        .text_price {
          text-align: center;
          padding: 0rem 0 0.8rem 0;
          font-size: 1.2rem;
          span {
            font-size: 2.5rem;
            color: #80b240;
          }
        }
        .text_fees {
          text-align: center;
        }
        .btn {
          font-family: 'Poppins', sans-serif;
          font-size: 1.1rem;
          padding: 1rem;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          width: 100%;
          background-color: #80b240;
          border: none;
          outline: none;
          cursor: pointer;
          color: #fff;
          border: 2px solid #80b240;
          transition:
            all 0.5s ease,
            all 0.5s ease;
          &:hover {
            color: #80b240;
            background-color: #fff;
            border-color: #80b240;
          }
        }
        .text_performance {
          font-family: 'Poppins', sans-serif;
          padding: 0.5rem 0 3rem 0rem;
          text-align: center;
          border-bottom: 1px solid #80b240;
        }
      }
      .box_fantasies {
        padding: 1rem 1.5rem 1rem 1.5rem;
        .icon {
          padding-right: 0.5rem;
          font-size: 2rem;
          color: #80b240;
        }
        p {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
      }
    }
  }
}
