.container {
  max-width: 1590px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  .subtitle {
    color: #80b240;
    font-size: 1.1rem;
    background-color: rgba(128, 178, 64, 0.5);
    padding: 0.3rem 1rem;
    display: inline-block;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .title {
    margin: 1.5rem 0rem 0% 0rem;
    font-size: 3em;
    color: #012e19;
  }
  h2 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    text-align: left;
    .fishing {
      margin: 1.5rem 0rem 0rem 1.2rem;
      font-size: 1.8rem;
      color: #012e19;
      border-bottom: 5px solid #80b240;
    }
  }
  .images_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    img {
      background-size: cover;
      width: 245px;
      height: auto;
      margin: 1rem 0.5rem 1rem 0.5rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border: 8px solid #fff;
    }
  }
}
