/* carousel.module.scss */

.carousel_container {
  position: relative;
  width: 100%;
  .carousel {
    width: 100%;
    max-width: 100%;
    .slide {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 4px solid #80B240;
      background-color: #fff;
      .imageContainer {
        position: relative;
        text-align: center;
        img {
          width: 100vw;
          object-fit: cover;
          height: 600px;
        }
        .imageText {
          font-family: "Satisfy", sans-serif;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #fff; 
          font-size: 2.5rem;
          letter-spacing: 4px;
        }   
      }
    }
  }
}