@import '../main/config/variables.scss';
@mixin breakpoint($point) {
  @if $point == md {
    @media (min-width: 48em) {
      @content;
    }
  }
}
@mixin centralize_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centralize_around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin centralize_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin transition {
  transition: all 0.4s ease;
  cursor: pointer;
}
