.main {
  max-width: 1280px;
  margin: 6rem auto;
  text-align: center;
  span {
    color: #80b240;
    background-color: rgba(128, 178, 64, 0.5);
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  h1 {
    padding-top: 0.5rem;
    font-size: 2.5em;
    color: #012e19;
  }
  .box_about {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    .about {
      width: 100%;
    }
    .pesqueiro {
      padding-left: 40px;
      img {
        width: 650px;
        height: 550px;
      }
    }
  }
}
